# See https://git-scm.com/docs/gitattributes for more about git attribute files.

# Templates and stylesheets shouldn't count toward GitHub's language stats.
*.html linguist-detectable=false
*.css linguist-detectable=false
